@media(min-width:481px){
    top{
        position:absolute;
        width:100%;
        height:104px;
        background: #FFFFF4;
        border: 1px solid hsl(0, 0%, 0%);
        box-sizing: border-box;

        left: 0px;
        top: 0px;
    }
    h1{
        font-size: 35px;
        text-align: center;
    }
}
@media(max-width:480px){
    top{
        position: absolute;
        /*width: 360px;*/
        width:100%;
        height: 83px;
        left: 0px;
        top: 0px;
    
        background: #FFFFF4;
        border: 1px solid hsl(0, 0%, 0%);
        box-sizing: border-box;
    }
    h1{
        font-size: 25px;
        text-align: center;
    }
}
