body{
    background: #FFFFF4;
    margin:0px;
}
.menu{
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    right:0;
}
.headerparent{
    display: flex;
    position: relative;
    justify-content: center;
}
.post{
    border:#187FC4;
}
@media(min-width:481px){
    #head{
        position:relative;
        width:100%;
        height:50px;
        background: #187FC4;
        border: 1px solid hsl(0, 20%, 0%);
        box-sizing: border-box;

    }
    .header{
        position: absolute;
        margin-bottom: auto;
        margin-top:auto;
    }

    span.sysname{
        color: #CCFFFF;
        font-family: serif;
        font-size:38px;
    }

    span.menu_button{
        color:#CCFFFF;
        font-size:20px;
    }
}
@media(max-width:480px){
    #head{
        position:relative;
        width:100%;
        height:40px;
        background:#187FC4;
        border: 1px solid hsl(0, 20%, 0%);
        box-sizing: border-box;
    }
    .header{
        position: absolute;
        margin-bottom: auto;
        margin-top:auto;
    }
    span.sysname{
        color: #CCFFFF;
        font-family: serif;
        font-size:30px;
    }
    span.menu_button{
        color:#CCFFFF;
        font-size:20px;
    }
}
