@media(min-width:481px){
    header{
        /*position:absolute;*/
        width:100%;
        height:104px;
        background: #FFFFF4;
        border: 1px solid hsl(0, 0%, 0%);
        box-sizing: border-box;

        left: 0px;
        top: 0px;

    }
    h1{
        font-size: 35px;
        text-align: center;
    }
    fieldset{
        position: relative;
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        height: 60%;
        left: 27px;
        top: 46px;
        background: #3366DD;
    }
}
@media(max-width:480px){
    header{
        /*position: absolute;*/
        /*width: 360px;*/
        width:100%;
        height: 83px;
        left: 0px;
        top: 0px;
    
        background: #FFFFF4;
        border: 1px solid hsl(0, 0%, 0%);
        box-sizing: border-box;
    }
    h1{
        font-size: 25px;
        text-align: center;

    }
    fieldset{
        position: relative;
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        height: 386px;
        left: 27px;
        top: 46px;
        background: #3366DD;
    }
    form{
        position: absolute;
        text-align: center;
    }
}
